.loginForm {
    border: 3px solid #f1f1f1;
}

.loginForm h2{
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginBtn {
    background-color: #00a087;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}

.loginBtn:hover {
    opacity: 0.9;
}

.cancelBtn {
    background-color: #E26C68;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}

.cancelBtn:hover {
    opacity: 0.9;
}

.logincontainer {
	padding: 16px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 25%;
    top: 10%;
    width: 50%; 
    overflow: auto;
    background-color: rgba(215,215,215,0.99); 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}