#nav-bar {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    padding: 0px 2em 0px 2em;
    z-index: 500;
}

#nav-bar .logo{
	height: 80px;
	width: 80px;
	float: left;
}

#nav-bar .header{
	float: left;
	font-size: 200%;
	line-height: 80px;
	padding-left: 10px;
}

.composeButton{
	float: right;
	background-color: #E9FFFD;
    border: 1px solid black;
    border-radius: 5px;
    color: #00a087;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    margin-top: 10px;
}

.composeButton:hover {
	float: right;
	background-color: #eee;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    margin-top: 10px;
}

.composeButton:active {
  transform: translateY(4px);
}