

.new-tweet {
  background-color: #eee;
	border: 0.5px solid grey;
  border-radius: 5px;
  margin: 0px 2em 0px 2em;
  padding-bottom: 1em;
}

textarea {
  display: block;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
  padding: 5px 0px 0px 5px;
  height: 3.5em;
}

h2 {
  margin-top: 10px;
  margin-left: 3%;
}

h2:after
{
  content:' ';
  width: 97%;
  margin-right: 3%;
  display: block;
  border: 0.5px solid black;
}

input {
  margin-top: 5px;
  margin-left: 3%;
}

.counter {
  float: right;
  margin-top: 5px;
  margin-right: 3%;
}
